certifi==2019.3.9
chardet==3.0.4
confusable-homoglyphs==3.2.0
cycler==0.10.0
dj-database-url==0.5.0
django==2.2.13
django-registration==3.0
django-uuidfield==0.5.0
ezodf==0.3.2
fcm-django==0.2.21
gunicorn==19.9.0
idna==2.8
joblib==0.13.2
kiwisolver==1.1.0
lxml==4.3.3
matplotlib==3.1.0
numpy==1.15.4
pandas==0.23.4
passlib==1.7.1
patsy==0.5.1
Pillow==9.0.1
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyclustering==0.9.0
pyfcm==1.4.5
pyparsing==2.4.0
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
requests-toolbelt==0.9.1
scikit-learn==0.21.2
scipy==1.2.0
six==1.12.0
sklearn==0.0
statsmodels==0.9.0
urllib3==1.24.2
whitenoise==4.1.2
xlrd==1.2.0
